h1{
color: white;
background-color: red;
padding: 2rem;
font-size: 32px;
}

h2{
color: white;
background-color:green;
padding: 2rem;
}

p{
color: black;
}

div{
background-color: orange;
padding: 3rem;

}

ol{
    color:white;
    background-color: black;
}

ul{ color:brown;}

a{
    color: blue;
}